<style>

.lwrapper {
	width:960px;
	margin-left: auto;
	margin-right: auto;
}


	
	.lwrapper h1 {
		font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
		font-size:25px;
		color:#33546d;
	}

	.lwrapper h2 {
		font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
		font-size:18px;
		color:#ffffff;
	}

	.lwrapper h3 {
		font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
		font-size:18px;
		font-weight:100;
		color:#33546d;
	}

	.lwrapper h4 {
		font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
		font-size:14px;
		font-weight:100;
		color:#33546d;
	}

	.lwrapper h5 {
	font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
	font-size:16px;
	font-weight:100;
	color:#ffffff;
	}

	.lwrapper h5 {
	font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
	font-size:7px;
	font-weight:100;
	color:#33546d;
	}


.lhero {
	width:960px;
	margin-left: auto;
	margin-right: auto;
}

.lcontent {
	width:960px;
	margin-left: auto;
	margin-right: auto;
}
.ltitle {
	float:left;
	margin-left:50px;
}

.lsection {
}

.lsectioncontent {
	width:200px;
	float:left;
	margin-left:60px;
	margin-right:60px;
}

.lbodytextsection {
	float:left;
	width:960px;
}

.lbodytext {
	float:left;
	width:840px;
	margin-left:60px;
	margin-top:10px;
	margin-bottom:50px;
}

.lbodytext2 {
	float:left;
	width:840px;
	margin-left:60px;
	margin-top:40px;
	margin-bottom:50px;
}

.lcolumntext {
	width:200px;
	float:left;
}

.loil {
	float:left;
	width:100px;
	margin-left:40px;
	margin-right:60px;
	margin-bottom:20px;
}

.button {
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;
}

.buttontext {

	padding-top:10px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

.buttonbg {
	margin-left: auto;
	margin-right: auto;
	background-color: #33546d;
	height:55px;
	width:300px;
}

.fine {
	width:960px;
	text-align:center;
}

a {
    text-decoration: none;
}

</style>
<div class="lwrapper">
	<div class="lhero"><img src="http://images.rockymountainoisl.com/blacktuesday3/big.jpg" /></a>
	</div>
			<div class="lsection">
				<div class="lbodytextsection">
					<div class="lbodytext">
					<p>
					<h3>It is that time of year again. School has started, students are adjusting to new classes, different teachers, new dynamics in friendships, homework, etc. Now that you are settling into the routine again, here are some oils to help with getting through school.</h3>
					</div>
				</div>

				<div class="lsectioncontent">
					<div class="loil">
						<a href="http://www.rockymountainoils.com/attention-assist.htm?utm_source=website&utm_medium=landing&utm_campaign=backtoschool"><img src="http://images.rockymountainoisl.com/blacktuesday3/a.jpg" /></a>
					</div>

					<div class="lcolumntext">
					<a href="http://www.rockymountainoils.com/attention-assist.htm?utm_source=website&utm_medium=landing&utm_campaign=backtoschool">
              		<h4><strong>Attention Assist:</strong> This blend was developed to help treat ADD and ADHD issues, in particular. It aids concentration, helping the brain focus longer on specific tasks, something good for every student.</h4></a>
              		</div>
              	</div>

              	<div class="lsectioncontent">
              		<div class="loil">
              			<a href="http://www.rockymountainoils.com/brainstorm.htm?utm_source=website&utm_medium=landing&utm_campaign=backtoschool"><img src="http://images.rockymountainoisl.com/blacktuesday3/b.jpg" /></a>
					</div>
					<div class="lcolumntext">
					<a href="http://www.rockymountainoils.com/brainstorm.htm?utm_source=website&utm_medium=landing&utm_campaign=backtoschool">
					<h4><strong>Brainstorm:</strong> Formulated to boost the brain when extra thinking power is needed. The essential oils in this blend are high in sesquiterpenes which cross the blood brain barrier and help carry oxygen to the pineal and pituitary glands. Use it to develop greater focus, clear mental cobwebs, and for meditation.</h4></a>
					</div>
				</div>

				<div class="lsectioncontent">
					<div class="loil">
						<a href="http://www.rockymountainoils.com/clarity.htm?utm_source=website&utm_medium=landing&utm_campaign=backtoschool"><img src="http://images.rockymountainoisl.com/blacktuesday3/c.jpg" /></a>
					</div>
					<div class="lcolumntext">
					<a href="http://www.rockymountainoils.com/clarity.htm?utm_source=website&utm_medium=landing&utm_campaign=backtoschool">
					<h4><strong>Clarity:</strong> If your student has trouble dealing with anxiety, Clarity is great to use. It helps bring emotional clarity and awareness. It calms the nerves and produces positive feelings of confidence and courage.</h4>
					</div></a>
				</div>

				<div class="lbodytextsection">
					<div class="lbodytext2">
					<h3>Whether your children are in public, private, or home school; elementary, middle, high school, or college, these oils will help them as they navigate their education. They will help them achieve the mental state to study harder, retain more, and enjoy the education experience.
              		</h3></p>
              		</div>
              	<div class="lhero"><img src="http://images.rockymountainoisl.com/blacktuesday3/new.jpg" /></a>
              	</div>
              	<div class="fine">
					<p><h6>10% and 25% percent off discount only applies to 5ml and 15ml bottles. This discounts can not be applied with any other discounts or promotions, and does not apply to shipping, handling, taxes or other surcharges. Offer valid 08/30/2013 through 09/02/2013 only. Offer expires at midnight on 09/02/2013 Mountain Standard Time. Discount does not apply to professional or reseller accounts. Rocky Mountain Oils reserves the right to cancel or change this promotion at anytime without notice.</h6></p>
              	</div>
				</div><br><br><br><br><br>
			</div>
		</div>
</div>